APP_NAME="Tecnodata LMS"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://lms.tecnodataeducacional.com.br
APP_TIMEZONE=America/Sao_Paulo
APP_KEY=troque-por-uma-chave-longa-e-aleatoria

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u695906402_lms_tecnodata
DB_USERNAME=u695906402_lms_tecnodata
DB_PASSWORD=
DB_CHARSET=utf8mb4

# Banco separado para biometria. Pode ficar vazio até a etapa facial.
BIO_DB_HOST=127.0.0.1
BIO_DB_PORT=3306
BIO_DB_DATABASE=
BIO_DB_USERNAME=
BIO_DB_PASSWORD=
BIO_DB_CHARSET=utf8mb4
BIO_STORE_RAW_CAPTURES=false
BIO_RETENTION_DAYS=30

SESSION_NAME=tecnodata_lms
SESSION_SECURE=true

LOCAL_SAFE_MODE=false
SEND_EMAILS=true
SEND_WEBHOOKS=true
RUN_EXTERNAL_INTEGRATIONS=true
BIOMETRIC_ACTIONS=true

STUDENT_PASSWORD_MODE=cpf

IMPORT_FILE_RETENTION_DAYS=7
