Options -Indexes
RewriteEngine On

RewriteRule ^install\.php$ install.php [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]

<FilesMatch "^\.">
    Require all denied
</FilesMatch>
